<!-- CEO -->


<div class="flex flex-wrap items-center pb-32 container">

    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-32 companyfont" data-aos="fade-right"
        data-aos-duration="1500">

        <h3 class="text-3xl mb-2 font-semibold text-center leading-normal ">
            Meet our CEO
        </h3>
        <p class="text-lg font-light text-justify leading-relaxed mt-4 mb-4 text-blueGray-600">
            "The ICT Academy of Kerala has been a leader in providing digital technology skills to the youths in the
            state. With our portfolio of programs expanding into digital infrastructure, enterprise systems, and
            workforce enablement areas, we believe we are inching toward our vision of being the partner of choice in
            the ICT domain. We are a professional team who live our passion for making a positive impact on the career
            aspirations of the youths and the talent requirements of the Industry."


        </p>
        <span class="chairmanName">
            <h4>Santhosh C Kurup</h4>
            <p>CEO</p>
        </span>

    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-32 " data-aos-duration="1500"
        data-aos-anchor-placement="top-bottom">
        <div class="justify-center align-baseline flex flex-wrap relative imgR">
            <img src="../../../../assets/images/DP_ICT010.png">

        </div>
    </div>


</div>




<!-- Meet the Team  -->

<app-team-members></app-team-members>





<!-- Team  -->