<div class="flex flex-wrap-reverse items-center pb-32 container-2">


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont" data-aos="fade-left" data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal responsiveFont">
            Services
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            ICT Academy of Kerala do research and offers training programs on diverse streams, ranging from emerging technologies to life skills. Being a social enterprise, we strive to enhance the technological skills of the youth thereby imbibing industry relevant
            skills to them.
        </p>
    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 " data-aos="fade-right" data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Header-Services.png">
        </div>
    </div>
</div>

<!--Institutional Training  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-SER-IT.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Institutional Training
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            ICT Academy of Kerala collaborates with educational institutions across the state of Kerala to improve the employability skills of both faculty and students. The educational institutions include Engineering, Arts & Science and Polytechnics. Apart from
            training programs, ICTAK provides customized solutions to improve the quality of the college education ecosystem of Kerala.
        </p>
    </div>

</div>

<!-- Graduate Training  -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Graduate Training
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            ICT Academy of Kerala provides Industry-focused ICT skill development programs for students. Project assignment related to capability building is also provided.
        </p>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-SER-GT.png">
        </div>
    </div>

</div>

<!-- Corporate Training  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-SER-CT.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Corporate Training
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            ICT Academy of Kerala provides world class training to the corporates which enables them to upskill their employees, reduce the cost and gain a competitive edge in the industry. We create and conduct customized corporate training programs after understanding
            the needs of the companies.
        </p>
    </div>

</div>

<!-- Government Capacity Building Programme  -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Government Capacity Building Programme
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            ICT Academy has partnered with KSITM for a capability building programme for Govt. employees and Akshaya Entrepreneurs and with ASAP in the IT/ITeS skill sector for the last four years (since 2014) and have trained 3000+ students (100+ batches) in NSDC
            (NSQF aligned) certificate courses.
        </p>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-SER-GCBD.png">
        </div>
    </div>

</div>



<!-- Partner Programme -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-SER-PP.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Partner Programme
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            We in association with worldwide MNC companies and other stakeholders conduct various industry as well as academic relevant training programmes for students, faculties and working professionals.
        </p>
    </div>

</div>