


<div class="showbox ">

    <div class=" showbox-bg ">

        <div class="client-count-wrp-inner pt-16 pb-16">
            <div class="cards" data-aos="zoom-in" data-aos-duration="500">
                <i class="  fas fa-user-graduate"></i>

                <h4>25k+</h4>
                <p>Participants<br>Trained</p>
            </div>
            <!--card-->
            <div class="cards" data-aos="zoom-in" data-aos-duration="1000">
                <i class=" fas fa-chalkboard-teacher"></i>
                <h4>10k+</h4>
                <!--concat % sign-->
                <p>Faculty<br>Trained</p>
            </div>
            <!--card-->
            <div class="cards" data-aos="zoom-in" data-aos-duration="1500">
                <i class=" fas fa-briefcase"></i>
                <h4>2k+</h4>
                <p>Placements<br>Realised</p>
            </div>
            <!--card-->
            <div class="cards" data-aos="zoom-in" data-aos-duration="2000">
                <i class=" fas fa-laptop-code"></i>
                <h4>2k+</h4>
                <p>Internships<br>Completed</p>
            </div>
            <!--card-->
            <div class="cards" data-aos="zoom-in" data-aos-duration="2500">
                <i class=" fas fa-industry"></i>
                <h4>112</h4>
                <p>Industry<br>Partnerships</p>
            </div>
            <!--card-->
            <div class="cards" data-aos="zoom-in" data-aos-duration="3000">
                <i class=" fas fa-school"></i>
                <h4>1558</h4>
                <p>Academic<br>Memberships</p>
            </div>
        </div>
    </div>

</div>