<!-- PopUp  -->
<app-popup></app-popup>





<!-- Landing Page -->
<div class=" overlayDesign">

    <div class=" container flex flex-wrap-reverse items-center pb-16  pt-12">


        <div class="w-full md:w-5/12 pt-4 md:px-4 ml-auto mr-auto  items-center " data-aos="fade-left"
            data-aos-duration="1500">
            <h3 class="bannerh2  ">
                Build your Career with ICTAK
            </h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500 sm:px-4 sm:text-justify">
                ICT Academy of Kerala (ICTAK) is a social enterprise officially launched on the 24th of June, 2014. The
                organization had a humble beginning providing skill training programs to selected academic institutions.
                Over the years, ICTAK has grown to a prime service provider of all ICT and innovation-related training
                and
                capacity-building programs in the state.

            </p>
            <div class="mt-12 flex justify-center">
                <app-button-join [label]="KnowMore" routerLink="/company">
                </app-button-join>
            </div>

        </div>

        <div class="w-full md:w-6/12  mr-auto ml-auto  " data-aos="fade-right" data-aos-duration="1500">
            <div class="justify-center flex flex-wrap relative imgR">
                <img src="../../../../assets/images/GRA_Home-Header-Overlay.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<!-- Showbox  -->


<app-showbox></app-showbox>


<!-- --------------------------------------------------------News & Events--------------------------------  -->


<!-- second session  -->
<!-- Design  -->
<section class=" md:mt-40  relative bg-blueGray-100">

    <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-blueGray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>


    <!-- A new beginning  -->

    <div class="container mx-auto px-4 pb-16 pt-16">
        <div class="items-center flex flex-wrap">
            <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
                <div class="md:pr-12 ">
                    <div class="sm:flex-center">
                        <div
                            class="text-blueGray-500 p-3 text-center   inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
                            <i class="fs-6   fas fa-sun" aria-hidden="true"></i>
                        </div>
                    </div>
                    <h3 class="text-3xl font-semibold sm:text-center">A New Beginning!</h3>

                    <p class="mt-4 text-lg leading-relaxed text-blueGray-500 sm:text-justify">
                        2022 January 03 marked a new beginning for ICT Academy of Kerala, relocating to the new
                        workspace in the Thejaswini Building of Technopark Campus, Thiruvananthapuram. Dr. K.M. Abraham
                        (Executive Vice Chairperson, K-DISC) was the Chief Guest. Mr. Tony Thomas (Chairman, ICTAK), Dr.
                        Rajasree M.S. (Vice-Chancellor, KTU), and Dr. P.V. Unnikrishnan (Member Secretary, K-DISC)
                        graced the occasion with their presence as distinguished guests.
                    </p>

                </div>
            </div>

            <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0 ">
                <img alt="..." class="max-w-full borderR shadow-xl" style="
              transform: scale(1) perspective(1040px) rotateY(-11deg)
                rotateX(2deg) rotate(2deg);" src="../../../../assets/images/ictaku.png" />
            </div>
        </div>
    </div>
</section>




<app-popular-courses></app-popular-courses>

<app-news-events></app-news-events>


<!-- ------------------------------------------------------Blog---------------------------------------------- -->
<!-- <section class="py-20  overflow-hidden">
    <div class="container mx-auto pb-64">
        <div class="flex flex-wrap justify-center">
            <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto md:mt-64" data-aos="fade-right"
                data-aos-duration="2000">
                <div class="sm:flex-center">
                    <div
                        class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
                        <i class="fas fa-blog fs-6 text-2xl text-xl"></i>
                    </div>
                </div>
                <h3 class="text-3xl mb-2 font-semibold leading-normal text-blueGray-700">
                    Latest From Blog
                </h3>
                <p class="text-lg font-medium leading-relaxed mt-4 mb-4 text-blueGray-400 sm:text-justify">
                    Check out the blog to learn more about the current offerings, latest happenings and to go through
                    some of the project case studies.
                </p>
                <div class="flex justify-center">
                    <app-button-join [label]="blog"></app-button-join>
                </div>
            </div>

            <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative ">
                <a href="" target="_blank">
                    <div class="bg-red-600 shadow-lg borderR2 text-center p-8" data-aos="fade-left"
                        data-aos-duration="2000">
                        <img alt="..." class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/svelte.jpg" />
                        <p class="text-lg text-white mt-4 font-semibold">Robotic</p>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div class="bg-red-700 shadow-lg borderR2 text-center p-8 mt-8" data-aos="fade-left"
                        data-aos-duration="2000">
                        <img alt="..." class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/angular.jpg" />
                        <p class="text-lg text-white mt-4 font-semibold">Angular</p>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div class="bg-emerald-500 shadow-lg borderR2 text-center p-8 mt-8" data-aos="fade-left"
                        data-aos-duration="2000">
                        <img alt="..." class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/vue.jpg" />
                        <p class="text-lg text-white mt-4 font-semibold">Software Testing</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section> -->

<section class="pb-16 bg-blueGray-200 relative pt-16 ">
    <!-- <div class="  bottom-auto left-0 right-0 w-full  h-20" style="transform: translateZ(0)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div> -->



    <!-- subscribe  -->


    <div class="container ">
        <div class="flex flex-wrap justify-center nLetterbg shadow-xl rounded-lg py-8 px-8 relative z-10"
            data-aos="zoom-in" data-aos-duration="1000">
            <div class="w-full text-center lg:w-8/12">
                <p class="text-4xl text-center">
                    <i class="fas fa-envelope env "></i>
                </p>
                <h3 class="font-semibold text-white text-3xl ">Let's keep in touch</h3>
                <p class="text-white text-lg leading-relaxed mt-4 mb-4 p1 ">
                    Subscribe to keep up with fresh news and exciting updates. We promise not to spam you!
                </p>
                <div class="form-input sm:flex-col sm:flex-center">
                    <form [formGroup]="Subscription" (ngSubmit)="subs()">
                    <input type="email" placeholder="Your Email" formControlName="email">
                    <button class="subscribe-btn" type="submit">Subscribe</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>