/* From cssbuttons.io by @BHARGAVPATEL1244 */
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

button {
  outline: none;
  cursor:default;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: "Arvo";
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  /* font-weight: 700; */
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  color: ghostwhite;
}

button span {
    cursor:default;

  position: relative;
  z-index: 10;
  transition: color 0.4s;
}



button::before,
button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor:default;

  z-index: 0;
}

button::before {
  color: white;
  content: "";
  background: #807f7f;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}


@media only screen and (max-width : 480px){
  button{
    width: 200px;
  }
}