<!-- Blog Header -->
<header class="header pb-5">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Careers</span>
            <!-- <span class="heading-primary-sub">The secondary heading</span> -->
        </h1>
        <div (click)="scroll(target)">
            <!-- <a class="btn btn-white btn-animated "></a> -->
            <div class="mouse_scroll">
                <div class="mouse">
                    <div class="wheel"></div>
                </div>
                <div>
                    <span class="m_scroll_arrows unu"></span>
                    <span class="m_scroll_arrows doi"></span>
                    <span class="m_scroll_arrows trei"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container3 pt-32 pb-32" #target>


    <div class="tabset">




        <div class="flex flex-wrap items-center ">

            <div class="w-full  px-4 mr-auto ml-auto mt-20 ">
                <div class="justify-center flex flex-wrap relative ">


                     <h1>Currently no job openings !</h1>   


                </div>
            </div>
        </div>


    </div>

</div>

