<div class="flex flex-wrap items-center pb-32 container">


    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont" data-aos="fade-left"
        data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal ">
            Academic Operations
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            Connecting the academic institutions across Kerala and neighboring states, the Academic Operations Unit
            (AOU) of ICT Academy of Kerala is committed to the quality improvement in education and in imparting novel
            technical skills for employability and entrepreneurship for students. The team, with their continual
            interactions, research, design, and execution of various skill development programmes for faculties and
            students, accelerates our mission - “Bridging the Skill Gap”.
        </p>
    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 " data-aos="fade-right" data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative  ">
            <img src="../../../../assets/images/GRA_Header-AOU.png">
        </div>
    </div>
</div>


<!-- Relationship Management  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-AO1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Relationship Management

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The team is continuously engaged with several educational institutions including Engineering, Management,
            Arts and Science, Polytechnic and ITI sectors for delivering quality improvement programmes and
            opportunities for the faculties and students. This unit is administering exclusive membership programmes
            designed for the academic institutions that facilitate them to avail the services of ICT Academy of Kerala
            with premium privileges.
        </p>


    </div>

</div>

<!-- Effective Organization   -->

<div class="flex flex-wrap items-center pb-32 container-2">
    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Effective Organization
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The AOU owns and executes various faculty and student development programmes in collaboration with the
            Knowledge Office of the ICT Academy of Kerala. The team efficiently manages the hurdles of not affecting the
            academic calendar and curriculum for the Additional Skill Development ventures undertaken by academic
            institutions through their effective organization and execution. They mobilize, organize and execute every
            programme having these institutions as the stakeholders.
        </p>

    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-AO2.png">
        </div>
    </div>

</div>

<!-- Programme Management  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-AO3.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Programme Management

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The team undertakes the ownership of various training programmes and their management. The AOU is entitled
            from marketing to certification of every project with the support of other operating units and the Knowledge
            Office of ICT Academy of Kerala. From induction programmes to core technical skill training, they empower
            the faculties and students alike.
        </p>


    </div>

</div>

<!-- Facilitating Opportunities   -->

<div class="flex flex-wrap items-center pb-32 container-2">
    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Facilitating Opportunities
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            By connecting various schemes, scholarships and partnership programmes from the government and corporate
            stakeholders, this unit leverages the opportunities of students and faculties in areas of skilling,
            employment and entrepreneurship.
        </p>

    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-AO4.png">
        </div>
    </div>

</div>