<section id="footer">
    <div class="container">
        <div class="row text-sm-left text-md-left flex justify-center">
            <!-- <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li> <a routerLink="/about" routerLinkActive="active"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                    <li><a routerLink="/courses" routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Courses</a></li>
                    <li><a routerLink="" routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Services</a></li>
                    <li><a routerLink="/partnership " routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Partnership</a></li>
                    <li><a routerLink="/events " routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Events</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/academic-membership " routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Academic Membership</a></li>
                    <li><a routerLink="/corporate-membership " routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Corporate Membership</a></li>
                    <li><a routerLink="/about " routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Patrons </a></li>
                    <li><a routerLink=" " routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Career</a></li>
                    <li><a routerLink="/partnership" routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Join Us</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink=" " routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Internship</a></li>
                    <li><a routerLink=" " routerLinkActive="active"><i class="fa fa-angle-double-right"></i>ICTAK Solution</a></li>
                    <li><a routerLink=" " routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Research and Development</a></li>
                    <li><a routerLink=" " routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Advisory Service</a></li>
                    <li><a routerLink=" " routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Entrepreneurship Development</a></li>
                </ul>
            </div> -->
       
       <img  class="logoIMG"   src="../../../../assets/images/cropped-ict-ico.png" alt="">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icn12 text-center text-white ">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/ictkerala/" target="_blank"><i class="fab fa-facebook-square text-lg leading-lg"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/ictakerala" target="_blank"><i class="fab fa-twitter-square text-lg leading-lg"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/ictkerala/?hl=en" target="_blank"><i class="fab fa-instagram-square text-lg leading-lg"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12  mt-sm-2 text-center text-white">
                <p  style="padding-bottom: 10px;"><a href="https://goo.gl/maps/tH1s8mHes93sGDLd8" target="_blank"><i class="fas fa-map-marker"></i> GF-1 Thejaswini Building, Technopark Rd, Thiruvananthapuram, Kerala 69558</a></p>
                <p><u><a href="">ICT Academy of Kerala</a></u> is a  is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry. </p>
                <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://ictkerala.org/" target="_blank">ICT Academy of Kerala</a></p>
            </div>
        </div>	
    </div>
</section>
