<div class="flex flex-wrap items-center pb-32 container">


    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont" data-aos="fade-left"
        data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal ">
            Knowledge Operations
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The Educator's team, which delivers competency-based curriculum and industry relevant content for various
            skill-training programs of ICT Academy of Kerala (ICTAK).The team is in charge of curriculum design
            ,technical content creation and course delivery.Knowledge office work in collaboration with other operating
            units, as a delivery team in areas of skill development programmes and projects.The team have the support of
            Industry and Technology partners for creating industry relevant curriculum and contents.
        </p>
    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 " data-aos="fade-right" data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative  ">
            <img src='../../../../assets/images/GRA_Header-KO.png'>
        </div>
    </div>
</div>



<!-- Training  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-KO1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Training
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            KO is in charge of the delivery of training.KO is equipped with an internal team of Educators and also
            maintains a pool of empanelled trainers from industry, freelancers and career break women.KO operates and
            utilize various learning and assessment platforms for ensuring the quality of delivery especially in case of
            Blended Learning Programmes.
        </p>
    </div>

</div>

<!-- A Patented Framework for Learning   -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            A Patented Framework for Learning
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            ICTAK has been pioneering its training model over the years both for Online and Offline training. Since
            2014, over 30K students & 10K teachers and a similar number of executives are being trained by us. For
            virtual learning, we have created a unique hybrid model called Positive Engagement in Real-Time Learning
            (PERL) model.
        </p>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-KO2.png">
        </div>
    </div>

</div>

<!-- The PERL Model  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-KO3.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            The PERL Model
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            For every course of ours, we set the initial expectations through appropriate orientation to the programme.
            The entry is assessed and baselined to ensure people with the right prerequisites are absorbed into our
            training programme. Participants are provided with access to a digital library through the course contents
            for the enrolled courses are mapped into the digital learning contents to enable self-paced learning.
            However, the digital learning contents are a collection of a large source of content on various skills that
            the participants can use to learn self-paced content on various future skills and digital skills
            programmes.<br>
            As part of the synchronous learning process, participants are guided through live learning, instructor-led,
            video content and Q&A sessions. The third channel of learning is through a collaborative platform, which
            acts as an interactive platform where the learners and instructors are connected 24x7. This platform also
            enables peer-to-peer learning.<br>
            The other channel of learning is through Self-learning, where participants are required to submit
            assignments, solve problems through mini-projects and attend intermediate formative assessments.
            Participants get an opportunity to connect with industry experts to understand the real-time implementation
            of the skills learnt. Participants get to also solve industry problems through Virtual Internships. As part
            of the exit, participants are progressively evaluated through formative and summative assessments.

        </p>
    </div>

</div>




<!-- Virtual Internships   -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Virtual Internships
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            Virtual Internships are redefining the boundaries of talent acquisition and career development. ICTAK with
            the support of its industry partners offers virtual internships on various technology skill areas. Virtual
            Internship provides a structured learning environment with access to industry mentors, industry-curated
            learning material, projects, and videos or webinars. Interns can also interact and share ideas with peers
            and the mentors through a social format. Through the virtual internship, ICTAK provides the learners a near
            close experience of working on specific industry use cases that too in flexible working hours.
        </p>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-KO4.png">
        </div>
    </div>

</div>

<!-- Bootcamps  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-KO5.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Bootcamps
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            Bootcamps are part of all ICTAK skilling courses, and it provides short-term, intensive hands-on training
            focused on building applications to meet the skilling requirements. In Bootcamps learners explore the
            fundamentals, learn industry-standard tools and software, and work on industry use cases and problem
            statements in peer groups. Bootcamps provide learners a scheduled, highly structured learning environment
            with experienced instructors guiding them from start to finish.

        </p>
    </div>

</div>

<!-- Classroom, Virtual and Hybrid Mode of Delivery   -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Classroom, Virtual and Hybrid Mode of Delivery
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            ICTAK provides skills training on various modes – Classroom, Virtual and Hybrid.
        </p>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-KO6.png">
        </div>
    </div>

</div>