<div class="flex flex-wrap items-center pb-32 container">


    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont" data-aos="fade-left"
        data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal ">
            IT Solutions
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            What’s modern and inventive nowadays will be considered fundamental tomorrow. That’s why brands have to
            contribute to ICT enabled solutions to engage clients. The team of UI/UX experts, full-stack developers, RPA
            experts and data analysts at ICTAK Solutions are here to help you rejuvenate your brand’s digital presence.
        </p>
    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 " data-aos="fade-right" data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative ">
            <img src='../../../../assets/images/GRA_Header-ITS.png'>
        </div>
    </div>
</div>


<!-- Full-Service Design and Development   -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-IT1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Full-Service Design and Development

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            Our plan handle begins with getting to know your company and its interesting needs. From there, we arrange
            an advanced change pathway that makes a difference in your brand development in awareness, revenue, and
            client satisfaction.
        </p>


    </div>

</div>

<!-- Product Design and Development    -->

<div class="flex flex-wrap items-center pb-32 container-2">
    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Product Design and Development
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            Much appreciated for our lean, agile strategy and extensive involvement in leading-edge innovations, we are
            able to plan and create smart, adaptable arrangements for any organization. We are committed to continuously
            learning and inquiring about other ways to illuminate ancient (and modern) issues.
        </p>

    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-IT2.png">
        </div>
    </div>

</div>

<!-- Data Analytics   -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-IT3.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Data Analytics

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            Data analytics team helps you to strengthen business by encouraging disciplined thinking, keeping key
            decision-makers focused, improving processes and optimizing communication between business leaders and data
            experts in order to drive the right conversations for the success of the business.
        </p>


    </div>

</div>

<!-- Digital Commerce   -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-IT4.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Digital Commerce

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            Today's consumers make decisions about whether to buy from a new website in seconds. Our digital commerce
            team has extensive experience with user interfaces, marketing and design lets us create websites, apps,
            Learning Management Systems, that engage consumers, drive conversions and promote loyalty.
        </p>


    </div>

</div>

