<div class="flex flex-wrap items-center pb-32 container mt-32 comMain d-flex justify-content-center">
    <div class="w-full md:w-8/12 px-4 mr-auto ml-auto  " data-aos="fade-right" data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative missionBx">
            <img src="../../../../assets/images/PHOTO_ICTAK-Reception.jpg" >
        </div>
    </div>

    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto  companyfont" data-aos="fade-left"
        data-aos-duration="1500">

        <h3 class="text-3xl mb-2  font-semibold leading-normal " style="letter-spacing: 5px;">
            ICTAK
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for
            imparting ICT skills to the youths of Kerala and improving their employability opportunities in the
            Industry. The Company is supported by Govt. of India, partnered by Govt. of Kerala and the IT industry.

        </p>

    </div>
</div>


<!-- Our Vision  -->
<div class="container-2">

    <div class="dark:bg-gray-900 ">
        <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
        <div class="container mx-auto py-9 md:py-12 lg:py-24">
            <div class="flex flex-col lg:flex-row justify-center items-strech ">
                <div class="lg:w-4/12 flex justify-center items-center companyfont">
                    <div>
                        <h1
                            class="dark:text-white text-4xl md:text-5xl xl:text-6xl font-semibold  text-gray-900 w-7/12 ">

                            Vision & Values</h1>
                        <p class="text-lg font-light leading-relaxed mt-4 mb-4 pr-12 text-blueGray-600">
                            "To emerge as the single-point establishment for all the ICT related capability building in
                            the
                            state."</p>
                    </div>
                </div>
                <div class="lg:w-8/12 mt-6 md:mt-8 lg:mt-0">
                    <div class="relative w-full h-full missionBx">
                        <img src="../../../../assets/images/PHOTO_ICTAK-Vision.jpg" alt="A lounge sofa" role="img"
                            class="w-full h-full relative " />
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Chairperson -->

<div class="flex flex-wrap items-center pb-16 container">
    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-32 ">
        <div class="justify-center flex flex-wrap relative imgR">
            <img src="../../../../assets/images/DP_BoD01 (Tony Thomas).png" class="img-responsive">
        </div>
    </div>

    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-32 companyfont">

        <h3 class="text-3xl mb-2 font-semibold leading-normal mainHead">
            Meet our Chairman
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            "The ICT Academy of Kerala has emerged as a strategic partner for the industry, academia, and government in
            bridging the skills gap in the field of Information Communication Technology. Over the years, ICT Academy
            has successfully supported the industry and academia in talent needs and skills supply and has touched
            youths and professionals alike in fulfilling their career aspirations. We will continue to invest in
            building capabilities in the latest technology and business domains to help our beneficiaries. We shall work
            with the Government of Kerala in its mission for talent development and employment."

        </p>
        <span class="chairmanName">
            <h4>Tony Thomas</h4>
            <p>Chairman of the Board</p>
        </span>

    </div>
</div>

<!-- Board of Members  -->
<div class="teamheader">
    <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-gray-900">
        Board of <span class="text-indigo-600">Members</span>
    </h3>
</div>

<div class=" body1 pt-16">


    <div class="container">
        <div class="row p-5">
            <div class="col-lg-3  mb-3">
                <ul class="nav nav-pills flex-column" id="experienceTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-1" data-toggle="tab" href="#des1" role="tab"
                            aria-controls="home" aria-selected="true">Tony Thomas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-2" data-toggle="tab" href="#des2" role="tab"
                            aria-controls="profile" aria-selected="false">Biswanath Sinha IAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-3" data-toggle="tab" href="#des3" role="tab"
                            aria-controls="profile" aria-selected="false">V.K. Mathews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-4" data-toggle="tab" href="#des4" role="tab"
                            aria-controls="profile" aria-selected="false">Dinesh Thampi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-5" data-toggle="tab" href="#des5" role="tab"
                            aria-controls="profile" aria-selected="false">Alexander Varghese</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-6" data-toggle="tab" href="#des6" role="tab"
                            aria-controls="profile" aria-selected="false">M. Anilkumar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-7" data-toggle="tab" href="#des7" role="tab"
                            aria-controls="profile" aria-selected="false">Ganapathy Venugopal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-8" data-toggle="tab" href="#des8" role="tab"
                            aria-controls="profile" aria-selected="false">S. Narayanan</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-lg-9">
                <div class="tab-content" id="experienceTabContent">

                    <div class="tab-pane fade show active text-left text-light" id="des1" role="tabpanel"
                        aria-labelledby="home-1">
                        <div class="desc1">
                            <div class="profilePIC"><img src="../../../../assets/images/DP_BoD01 (Tony Thomas).png">
                            </div>
                            <div class="container bmh1">

                                <h1>Tony Thomas</h1>
                                <h2> Chairman</h2>
                                <h3>(Chief Digital and Information Officer, Signify Senior Advisor-Boston Consulting
                                    Group) </h3>

                                <p>Tony Thomas is an Information Technology Leader, Digital Transformation Champion,
                                    Strategic Advisor to Companies and Governments, Angel Investor, Mentor to Startups,
                                    Coach to aspiring Leaders and Member of the Board, Digital/Information Technology
                                    leader for global businesses. He has a total of about 25 years of experience of
                                    which about 12 years in leading Digital Transformations at a Global level. Tony is a
                                    seasoned public speaker, recognized as a luminary in his field of leadership,
                                    technology and innovation, and a recipient of many industry honors and awards
                                    including CIO Power List Hall of Fame, Power Profile by LinkedIn, CIO 100 Hall of
                                    Fame etc. He is a mentor at Columbia University School of Professional Studies for
                                    its Executive M.S. in Technology Management Program. Tony is also an active member
                                    of the startup ecosystem as a founding member of CIO Angel Network (CAN) and a
                                    member of Indian Angel Network (IAN). Apart from this, he is an advisor/mentor to
                                    Governments on Digital, IT, Start-up and Innovation policies, a core member of
                                    Reserve Bank of India’s Technical Committee on Mobile Banking, a core member of CII
                                    National Committee on IT, ITeS & eCommerce.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade text-left text-light" id="des2" role="tabpanel" aria-labelledby="home-2">
                        <div class="desc1">
                            <div class="profilePIC"><img src="../../../../assets/images/DP_BoD02 (Biswanath Sinha).png">
                            </div>
                            <div class="container bmh1">

                                <h1>Biswanath Sinha IAS</h1>
                                <h2> Director</h2>
                                <h3>(Principal Secretary, Government of Kerala) </h3>

                                <p>Biswanath Sinha is a social development specialist with over 27 years of diverse
                                    experience across strategy, partnership, grantmaking, program designing & scaling
                                    up, and policy formulation. His strengths lie in a deep understanding of Indian
                                    social issues, onboarding different stakeholders and creating successful development
                                    models which have been scaled up by mainstream agencies creating a larger social
                                    impact. He has worked with the best of Indian non-profit organizations with
                                    different approaches; hardcore implementation to policy formulation. He played a
                                    pivotal role in shaping strategy and bringing in institutional partnerships for
                                    achieving scale for Tata Trusts, India's oldest and largest private philanthropy,
                                    and principal shareholder of the Tata Group. In Tata Trusts he has played a
                                    leadership role in thematic engagements in Rural Livelihoods, Natural Resources
                                    Management, Energy, Health Care, Disaster Management, Skill Development &
                                    Entrepreneurship Promotion and Sports for Development. As a founding member and
                                    governing board member of various nonprofit organizations, he has played a key
                                    leadership role in creating some high performing organizations in the nonprofit
                                    sector.


                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade  text-left text-light" id="des3" role="tabpanel" aria-labelledby="home-3">
                        <div class="desc1">
                            <div class="profilePIC"><img src="../../../../assets/images/DP_BoD03 (VK Mathews).png">
                            </div>
                            <div class="container bmh1">

                                <h1>V.K. Mathewss</h1>
                                <h2> Director</h2>
                                <h3>(Executive Chairman, IBS Software)</h3>

                                <p>V.K. Mathews is the Founder and Executive Chairman of the IBS Group of companies.
                                    Mathews founded IBS Software (IBS) in 1997 with a vision to redefine the future of
                                    travel through technology innovation. Today, IBS is a leading enterprise SaaS
                                    software company for the global travel, transportation, and logistics industries.
                                    Many of the world’s largest and most renowned airlines, airports, ground handlers,
                                    hotel companies, cruise lines, and energy companies use IBS SaaS platforms for
                                    managing their mission-critical operations. Mathews is a thought leader and a
                                    specialist in the aviation and travel business. He holds several important positions
                                    in Government agencies, academic institutions, and trade bodies in India including
                                    NASSCOM, the premier trade body of the IT-BPO industries in India and has served as
                                    the Chairman of the NASSCOM Regional Council and Chairman of the Confederation of
                                    Indian Industries, Kerala State. He holds a Master’s degree in Aeronautical
                                    Engineering from the Indian Institute of Technology, Kanpur, and had executive
                                    management education from Harvard Business School, Boston, USA.


                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade text-left text-light" id="des4" role="tabpanel" aria-labelledby="home-4">
                        <div class="desc1">
                            <div class="profilePIC"><img src="../../../../assets/images/DP_BoD04 (Dinesh Thampi).png">
                            </div>
                            <div class="container bmh1">

                                <h1>Dinesh Thampi</h1>
                                <h2> Director</h2>
                                <h3>(Vice President & Delivery Centre Head, TCS Kerala)</h3>

                                <p>Dinesh Thampi is currently the Vice President and Delivery Centre Head, TCS Kerala.
                                    He has over two decades of industry experience and has an enviable footprint across
                                    the globe for various strategic and mission-critical engagements for TCS. With TCS’
                                    focus on growing in tier two cities, Dinesh was entrusted with the responsibility of
                                    crafting the growth of TCS in his home state. He expanded the TCS Delivery and
                                    Business related Operations in Kerala by setting up the Delivery Centre at Kochi in
                                    May 2005.


                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade  text-left text-light" id="des5" role="tabpanel" aria-labelledby="home-5">
                        <div class="desc1">
                            <div class="profilePIC"><img
                                    src="../../../../assets/images/DP_BoD05 (Alexander Varghese).png">
                            </div>
                            <div class="container bmh1">

                                <h1>Alexander Varghese </h1>
                                <h2> Director</h2>
                                <h3>(Chief Operating Officer, UST GLOBAL)</h3>

                                <p>Alexander Varghese is the joint Chief Operating Officer of UST. He is responsible for
                                    leading client and partner relationships in the Asia Pacific, the United Kingdom,
                                    and Israel. He further serves as Country Managing Director for India and oversees
                                    global corporate services, including real estate & facilities management, and global
                                    travel. Alexander has 30 plus years of experience in the IT industry, managing
                                    overseas clients and operations for global enterprises. Before joining UST,
                                    Alexander served as the Vice President of Datec Corporation and Senior Manager at
                                    IMR Global. He is a respected thought leader and is a prominent member of various
                                    government agencies, academic institutions, and trade bodies in India. Alexander is
                                    a Charter member of TiE Kerala, a member of the CII State Council, and held an
                                    elected seat on the NASSCOM National Council for two years. He is also one of the
                                    directors of the ICT Academy of Kerala. Alexander is currently the Chairman of GTECH
                                    India and sits on the board of laptop manufacturer COCONICS. He holds a Bachelor of
                                    Technology from the College of Engineering, T’puram, and a Master's degree in
                                    Technology from Cochin University of Science and Technology.


                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade text-left text-light" id="des6" role="tabpanel" aria-labelledby="home-6">
                        <div class="desc1">
                            <div class="profilePIC"><img src="../../../../assets/images/DP_BoD06 (M Anilkumar).png">
                            </div>
                            <div class="container bmh1">

                                <h1>M. Anilkumar</h1>
                                <h2> Director</h2>
                                <h3>(Joint Secretary, Finance, Government of Kerala) </h3>

                                <p>Anil Kumar M. is the Joint Secretary in charge of Finance (Development & Welfare
                                    Wing) since June 2017. He has over 25 years of Government service in the Finance
                                    Department. Earlier he was posted in the Commissionerate of Land Revenue in the
                                    cadre of Under Secretary (Finance Officer) and later as Senior Finance Officer in
                                    the Directorate of Agriculture and Directorate of Industries & Commerce,
                                    Thiruvananthapuram. Anil Kumar has worked with Abkari Workers Welfare Fund Board and
                                    LBS Centre for Science and Technology, Thiruvananthapuram on deputation. He was a
                                    Director on the Board of Bhavanam Foundation of Kerala, Kerala Shipping and Inland
                                    Navigation Corporations Limited, Oil Palm India Limited, Kerala Film Development
                                    Corporation and Foam Matting India Limited.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade  text-left text-light" id="des7" role="tabpanel" aria-labelledby="home-7">
                        <div class="desc1">
                            <div class="profilePIC"><img
                                    src="../../../../assets/images/DP_BoD07 (Ganapathy Venugopal).png">
                            </div>
                            <div class="container bmh1">

                                <h1>Ganapathy Venugopal </h1>
                                <h2> Nominee Director</h2>
                                <h3>(Co-founder & CEO, Axilor Ventures) </h3>

                                <p>Ganapathy Venugopal (Co-founder & CEO, Axilor Ventures) | Nominee Director
                                    Ganapathy Venugopal (VG) is the Co-founder & CEO of Axilor Ventures. He has spent
                                    his first fifteen years in leadership roles helping large corporates to manage and
                                    mitigate risk. Before co-founding Axilor Ventures, he was the Head of Strategy &
                                    Planning at Infosys. At Axilor, he helps founders build successful businesses. VG
                                    serves on the boards of several companies and advisory bodies. He is an active
                                    writer on issues relating to startups. Ganapathy holds a bachelor's degree in
                                    engineering and a postgraduate degree in management from IIM Lucknow.


                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade text-left text-light" id="des8" role="tabpanel" aria-labelledby="home-8">
                        <div class="desc1">
                            <div class="profilePIC"><img src="../../../../assets/images/DP_BoD08 (S Narayanan).png">
                            </div>
                            <div class="container bmh1">

                                <h1>S. Narayanan</h1>
                                <h2> Nominee Director</h2>
                                <h3> (Vice President, QuEST T’puram) </h3>

                                <p>S. Narayanan heads the QuEST Thiruvananthapuram Centre since April 2015. Before
                                    joining QuEST, he was at the helm of erstwhile NeST Software as President.
                                    Narayanan, who upholds core values, ethics, transparency and professional integrity,
                                    has been instrumental in leading the organisation into new pastures. Narayanan is a
                                    person with inborn business acumen. He joined erstwhile NeST Software as the head of
                                    the Broadband & Communication Strategic Business Unit in 2001 and steadily grew with
                                    the organisation to its top position. Through his tenure in NeST, he had been an
                                    ardent and enthusiastic participant in organisational reforms, establishing systems
                                    and practices with a futuristic viewpoint. During his innings at NeST, Narayanan has
                                    held several key positions and has over 29 years of experience in delivery
                                    management, project management and software development. Before joining NeST, he was
                                    serving as Project Leader at ISRO (Indian Space Research Organisation) in 1985,
                                    where he started his aspiring journey as an engineer. Narayanan has held several
                                    senior positions as a Scientist and Engineer at its Satellite Centre, Bangalore and
                                    VSSC, T’puram. Narayanan holds a bachelor's degree in Electronics and Communication
                                    from the College of Engineering, University of Kerala, T’puram.


                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab content end-->
            </div><!-- col-md-8 end -->
        </div>
    </div>
</div>
<!-- Technical and Management Advisory Committee -->


<div class="container-md">
    <div class="tech">
        <h3 class=" leading-normal font-extrabold tracking-tight text-gray-900">
            Technical and Management <span class="text-indigo-600">Advisory Committe</span>
        </h3>


    </div>
    <div class="tech1">
        <p>
            The Technical and Management Advisory Committee is the prime body of the ICT Academy of Kerala, comprising
            industry experts and members from government bodies. The committee assists the management in overseeing the
            implementation of technical recommendations in giving industry-relevant skills to the graduates in the
            state. The committee also takes appropriate or additional steps to improve the quality of the curriculum
            used for upskilling.

        </p>

        <div class="list1">
            <ol type="1">
                <li>Robin Tommy (Head Rapid Lab, TCS)
                </li>
                <li>Ganesh Iyer (Senior Manager & Head - Learning & Assessment, IBS)</li>
                <li>Francis Regan (CTO & Co-Founder, Ionics 3DP)</li>
                <li>Dr. Hiran V. Nath (Assistant Professor, NIT Calicut)</li>
                <li>Rajkin G. (Technology Solutions Leader, QuEST Global)
                </li>
                <li>Muthuraman C. (Senior GDS - Technology Consulting, EY)</li>
                <li>Ravi Ganapathi (Lead Principal, Infosys)
                </li>
                <li>Naveen (Freelancer)
                </li>
                <li>Bobinson K.B. (President & CEO, AgileBlaze)</li>
                <li>Syamkumar A.S. (Security and Operations Lead, SecurityAdvisor)</li>
            </ol>
        </div>
    </div>
</div>