<div class="flex flex-wrap items-center pb-32 container">


    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont" data-aos="fade-left"
        data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal ">
            Retail Operations
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            Retail Business and operation unit is a front-end training wing of ICTAK to accompany the mission of
            skilling the youths of Kerala in IR4.0 technologies to make the state a desired talent pool for the
            industries. We empower the effort to build a job-ready workforce for the IT Industry by researching,
            organizing and executing skill development programs for the unemployed and underemployed graduates. Our
            focus is on skilling, upskilling and reskilling with affordable fees and supporting them to realize their
            career dreams.
        </p>
    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 " data-aos="fade-right" data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative ">
            <img src='../../../../assets/images/GRA_Header-ROU.png'>
        </div>
    </div>
</div>


<!--Creating New General Talent Pool  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-RO1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Creating New General Talent Pool
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The Retail Training division owns and manages various projects in association with our public and private
            partners mainly targeted to the upskilling of graduated youth.The OU facilitates students with scholarship
            from Govt. projects and equips them with technical expertise to enter into the technical industry. The OU
            maintains partnership for mobilizing the candidates in need of assistance for an entry to the IT Industry.
        </p>
    </div>

</div>

<!-- Career Guidance and Facilitating Opportunities  -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Career Guidance and Facilitating Opportunities
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The ROU coordinates tasks from managing relationships with candidates, partners and employers and voids the
            unfulfilled opportunities from both ends. The team coordinates with the Knowledge Office of ICT Academy of
            Kerala for the delivery of courses and manages the end to end program execution. The unit can aid students
            with proper technical guidance for optimizing their choices in career selection and facilitate internships
            and employment.
        </p>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-RO2.png">
        </div>
    </div>

</div>

<!--Corporate Social Responsibility Initiatives  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-RO3.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Corporate Social Responsibility Initiatives
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            To implement CSR programs of our industrial partners on skill Development and Career reinitiate considering
            education and skill development as the foundation writes of the citizen,ICT Academy of Kerala as a CSR
            implementation partner for the leading corporates working closely with the youths of the nation to delivery
            employment-based skill training to the most deserved section of the society.Focus on Rural Youth Career
            Reinstate,Low Socio-Economic Status (SES) and Career-Break woman.

        </p>
    </div>

</div>

