
.card {
  background-color: #a1a1a7;
  color: white;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: clamp(320px, 50%, 800px);
  height: clamp(150px, 50%, 600px);
  padding: 2em;
  border-radius: 2px;
  box-shadow: 0.25em 0.25em 1.2em #0003, inset 0.12em 0.12em 0.5em #fff4,
    inset -0.12em -0.12em 0.3em #0003;
  transition: opacity 1s 0s, width 0s 1s, height 0s 1s, padding 0s 1s;

  

  &.hidden {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    --slash-deg: -180deg;
  }
}

.content {
  max-height: 100%;
  font-size: 1.4em;
  font-weight: 100;
  overflow: hidden;
}

.close {
  position: absolute; 
  top: 0em; 
   right: 0; 
  width: 3em;
  height: 3em;
  cursor: pointer;
  border: none;
  background-color: transparent;
  

  &:hover {
    --slash-deg: -180deg;
  }

  &::before,
  &::after {
    position: absolute;
    top: calc(50% - 2px);
    left: 0.15em;
    content: "";
    width: 1.7em;
    height: 4px;
    background-color: rgb(189, 184, 184);
    transform-origin: center center;
    transition: 500ms;
    border-radius: 1em;
  }

  &::before {
    transform: rotate(var(--slash-deg, -45deg));
  }

  &::after {
    transform: rotate(var(--slash-deg, 45deg));
  }
}
