/* Super Panel: www.menucool.com/ui/super-panel */


/*---- panel ----*/
#panel1 {
    position:fixed;
    z-index:9000;
    top:0;
    left:0;
    width:360px;height:100%;
    background:white url(../skins/bg1.jpg) no-repeat left bottom;
    padding:20px 0;
    box-sizing:border-box;
    box-shadow:4px 0 18px rgba(0,0,0,0.2);
    visibility:hidden;
}
/*---- transparent layer ---- Available when the option transparentLayer is true in pane-panel.js */
.transparent-layer {
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    width:100%;height:100%;
    background-color:rgba(255,255,255,0.9);
    display:none;
    -webkit-transition:opacity 0.3s;
    transition:opacity 0.3s;
}



/*---- panel button ----*/
.panel-button{
    -ms-user-select:none;
    -mos-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    user-select:none;
}


.panel-button   
{
    position:fixed; margin:12px 0 0 12px; top:0; left:0;
    /*display:inline-block;vertical-align:middle;position:relative;*/
    
    background-color:black;

    height:3px;
    width:24px;
    border-style:solid;
    border-color:white;
    border-top-width:18px;
    border-bottom-width:18px;
    border-left-width:8px;
    border-right-width:8px;
	cursor: pointer;
    box-sizing:content-box;
}

.panel-button:before, .panel-button:after {
    background-color:black;
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 24px;
    height: 3px;
    display:block;
    transition:all .2s linear;
}
.panel-button:after {
    top: 8px;
}

    
.panel-button.active {
    background-color:white;
}
.panel-button.active:before {
    transform: rotate(45deg);
    top:0;
}
.panel-button.active:after {
    transform: rotate(-45deg);
    top:0;
}


