<!-- FAQ -->


<div class="content  pb-32 pt-16">
  <h1 class="faq_head fs-2 pt-5 pb-4">Frequently Asked Questions (FAQ)</h1>

  <!-- __________________________ SECTIONS ___________________________ -->

  <div>
    <input type="checkbox" id="question1" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question1" class="question">
      Who can apply for the course?
    </label>
    <div class="answers">
      <p>Graduates from Engineering/Science having a foundation level knowledge (plus two equivalents) in Mathematics
        and Computer fundamental skills, can apply for the course. Those who are awaiting final results can also apply
      </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question2" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question2" class="question">
      What is the Age Limit for applying to this course?
    </label>
    <div class="answers">
      <p>20-45 </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question3" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question3" class="question">
      What are the subjects covered for the Entrance Test?
    </label>
    <div class="answers">
      <p>It is a 60 Minutes online remote proctor test, which consist of Numerical Ability ,Logical Reasoning, Data
        Manipulation , Verbal Ability and International Affairs .There is no negative marks for the test </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question4" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question4" class="question">
      What is the duration of the long term courses?
    </label>
    <div class="answers">
      <p>6 Months (including internship) </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question5" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question5" class="question">
      What is the Course Fees
    </label>
    <div class="answers">
      <p>Fees for the Long-term course are 19,700 plus GST </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question6" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question6" class="question">
      Do working professionals /Students can join?
    </label>
    <div class="answers">
      <p>Yes, our course is suitable for both working professionals and students who are awaiting final results.
        Recorded videos of live sessions will also be available in case if anyone misses the sessions. </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question7" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question7" class="question">
      Is there a scholarship scheme as part of the course ?
    </label>
    <div class="answers">
      <p>Based on the performance on the Entrance Test you will be eligible to get 75% scholarship from NORKA Roots </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question8" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question8" class="question">
      What are the criteria for appearing in the course Final Assessment?
    </label>
    <div class="answers">
      <p>Candidates should have a minimum 80% attendance for live sessions. Candidates should complete all assignments
        and assessments as per course Quality Framework. </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question9" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question9" class="question">
      Can non-Keralites apply for the programme ?
    </label>
    <div class="answers">
      <p>Yes, the programe is open for anyone, but the 75% scholarship is only available for Keralites. A scholarship of
        20% is available for candidates from outside state </p>

    </div>
  </div>
  <!-- _____________________________________________________ -->
  <div>
    <input type="checkbox" id="question10" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question10" class="question">
      What are the Add on Partner badges you provide?
    </label>
    <div class="answers">
      <!-- <p>Cavendish Square titles are also available as eBooks.  Also available are over 50 database titles.  Click here for more information on our eBooks and digital databases.  For a complete list of available digital resources, please call Customer Service at 1-877-980-4450 between 9AM and 5 PM EST, Monday through Friday. </p> -->
      <ul>
        <li>⚫ Cloud computing by AWS – Amazon Web Services</li>
        <li>⚫ Robotic Process Automation by Automation Anywhere</li>
      </ul>

    </div>
  </div>

</div>