<main>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
        <div class="absolute top-0 w-full h-full bg-center bg-cover">
            <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
        </div>
        <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                    <div class="pr-12 techh1">
                        <h1 class="">
                            TECHATHLON 2022
                        </h1>
                        <p> March 21-25 , Technopark </p>
                        <br>
                        <app-event-button></app-event-button>

                    </div>
                </div>
            </div>
        </div>
        
    </div>

</main>