<div class="flex flex-wrap-reverse items-center pb-32 container">


    <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto  companyfont" data-aos="fade-left"
        data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal responsiveFont ">
            Partnership
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            Kerala needs a skilled workforce to fill the gap in the industry and the ICT Academy of Kerala is an
            esteemed organization looking to set up training centers across the state through franchises or training
            service partners. We believe that franchising is one of the most effective systems for the distribution of
            goods and services.

        </p>


        <!-- !buttons hide  -->

        <!-- <div class="buttons">
            <app-button-join data-aos="zoom-in" [label]="partner1" class="button1">
            </app-button-join>
            <app-button-join data-aos="zoom-in" [label]="Register">
            </app-button-join>
        </div> -->

    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto  " data-aos="fade-right" data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative ">
            <img src="../../../../assets/images/GRA_Header-Partnerships.png">
        </div>
    </div>
</div>


<!-- Training  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative ">
            <img src="../../../assets/images/vector1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Partners
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            No Content
        </p>
    </div>

</div>

<!-- A Patented Framework for Learning   -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Empanelled Trainers
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            Empanelled Trainers are the second arm of the ICT Academy of Kerala, which includes industry experts,
            freelancers, career break women, and faculty members passionate about training. These trainers who support
            various activities like instructor-led training (virtual and physical), project mentoring, bootcamps, and
            project evaluations are onboarded for one year on contract by ICTAK.
        </p>
    </div>


    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative ">
            <img src="../../../assets/images/vector2.png">
        </div>
    </div>

</div>