<div class="flex flex-wrap items-center pb-32 container">


    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont" data-aos="fade-left"
        data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal ">
            Courses
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            ICTAK has been pioneering its training model over the years both for Online and Offline training. With over
            25K students & 10K teachers and a similar number of executives being trained by us, we have created a unique
            hybrid model called Positive Engagement in Real-Time Learning (PERL) model that has produced over 4.5
            positive feedback ratings for the training that were conducted by ICT Academy of Kerala amongst its
            learners.
        </p>
    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 " data-aos="fade-right" data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative ">
            <img src='../../../../assets/images/GRA_Thumbnail-COU.png'>
        </div>
    </div>
</div>


<!-- Partnership   -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative ">
            <img src="../../../assets/images/vector1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Postgraduate Program

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The unit continuously indulges in establishing a healthy relationship with partners and stakeholders. This
            relationship has an immense impact on the opportunities to the end beneficiaries such as students, faculties
            and others. ICT Academy of Kerala has been a responsible intermediary through which the various CSR and
            other dedicated funds have attained better fruition through effective management and delivery. The team
            played a vital role in facilitating such responsibilities. The curated relationship dynamics with
            corporations has helped the identification, design and implementation of projects.
        </p>


    </div>

</div>

<!-- Delivery    -->

<div class="flex flex-wrap items-center pb-32 container-2">
    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Long-term Training
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            ICTAK Academy of Kerala offers specialized Long-Term Training programmes on advanced technology skills in a
            hybrid model of self-paced and instructor-led approach. The overall duration of the programme will be of six
            months; where the first four months will be dedicated for the learning phase, fifth month will be directed
            with a project and last month will be enhanced with a hands-on internship through TCSiON. Our long-term
            training programme will be suited for graduates, post graduates and working professionals with the aim of
            skilling, upskilling and reskilling.
        </p>

    </div>


    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative ">
            <img src="../../../assets/images/vector2.png">
        </div>
    </div>

</div>

<!-- Management   -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative ">
            <img src="../../../assets/images/vector1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Microskills Programs

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            ICT Academy wishes to offer a specialized Micro skills training programme on advanced digital technologies
            in a hybrid model of self-paced and instructor-led approach with one month coverage for the overall
            programme. The characteristics of our Micro Skills programme will be that it will be aligned to Industry
            requirements and its contents shall be designed / reviewed by Industry partners.
        </p>


    </div>

</div>
<!-- Delivery    -->

<div class="flex flex-wrap items-center pb-32 container-2">
    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Short-term Programs
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The team undertakes skill development projects, corporate training for corporates and partners. The team is
            also capacitated to provide the manpower supply in specific areas.
        </p>

    </div>


    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative ">
            <img src="../../../assets/images/vector2.png">
        </div>
    </div>

</div>

<!-- Partnership   -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative ">
            <img src="../../../assets/images/vector1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Addon Programs

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The unit continuously indulges in establishing a healthy relationship with partners and stakeholders. This
            relationship has an immense impact on the opportunities to the end beneficiaries such as students, faculties
            and others. ICT Academy of Kerala has been a responsible intermediary through which the various CSR and
            other dedicated funds have attained better fruition through effective management and delivery. The team
            played a vital role in facilitating such responsibilities. The curated relationship dynamics with
            corporations has helped the identification, design and implementation of projects.
        </p>


    </div>

</div>

<!-- Delivery    -->

<div class="flex flex-wrap items-center pb-32 container-2">
    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Internships
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The team undertakes skill development projects, corporate training for corporates and partners. The team is
            also capacitated to provide the manpower supply in specific areas.
        </p>

    </div>


    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative ">
            <img src="../../../assets/images/vector2.png">
        </div>
    </div>

</div>

<!-- Management   -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative ">
            <img src="../../../assets/images/vector1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Workforce Enablement Programs

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The unit facilitates the delivery of skill development programs through partners. The team owns, manages and
            executes various programmes in association with the Knowledge Office of ICT Academy of Kerala.
        </p>


    </div>

</div>