<div class="flex flex-wrap items-center pb-32 container">


    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont" data-aos="fade-left"
        data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal ">
            Corporate Functions
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The Corporate Functions of the ICT Academy of Kerala include Administration, Finance, Human resources,
            Legal, and Internal IT. The unit plays a significant role in facilitating seamless integration between other
            operations units of ICTAK for maximum productivity.
        </p>
    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 " data-aos="fade-right" data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative  ">
            <img src="../../../../assets/images/GRA_Header-CF.png">
        </div>
    </div>
</div>


<!-- Relationship Management  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW">
            <img src="../../../assets/images/GRA_Thumbnail-CF1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Administration

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            Administration functions are handled by the admin team, who ensures smooth functioning of the workplace for
            all staff members to attain productive working hours for the organisation and keeps a good track of the
            office facilities at the Head Office and other regional offices at Koratty and Calicut. The team is in
            charge of providing all the required support to other operations units like, facility and logistics to
            conduct various training programs, accommodation arrangements, employee requirements, local purchases etc.
        </p>


    </div>

</div>

<!-- Effective Organization   -->

<div class="flex flex-wrap items-center pb-32 container-2">
    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Finance
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The Finance team manages the accounting and audit discipline at the Head Office and other regional offices
            following the standard accounting procedures. The team is responsible for the monthly financial reporting,
            budgeting, rolling forecast, cash flow management, A/R & A/P management, project-based account analysis,
            periodical audits etc. The team also ensures 100% compliance with GST and TDS procedures and filing. The
            unit strictly adheres to the financial policies and procedures to achieve the organisation's goals.
        </p>

    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW">
            <img src="../../../assets/images/GRA_Thumbnail-CF2.png">
        </div>
    </div>

</div>

<!-- Programme Management  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW">
            <img src="../../../assets/images/GRA_Thumbnail-CF3.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            HR

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The Human Resources function of the ICT Academy of Kerala is responsible for various associate-related
            activities of the company. It includes direct functions like recruitment, induction, employee engagement,
            payroll, HR legal, and exit management, as well as facilitation functions such as performance management,
            competency management, leave management, learning and development, etc.
        </p>


    </div>

</div>

<!-- Facilitating Opportunities   -->

<div class="flex flex-wrap items-center pb-32 container-2">
    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Legal
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            ICT Academy of Kerala is a company incorporated under Section 25 of the Companies Act 1956, and as a 'public
            company' comes under the umbrella of the Companies Act 2013 and various compliance guidelines of the
            Ministry of Corporate Affairs. The Corporate Secretarial & Legal division ensures compliance with all the
            acts, rules, notifications, and guidelines issued by MCA and other central and state regulatory bodies and
            reports to the Board of Directors (BoD). The division is a vital link between the company and its Board of
            Directors, shareholders, government, and regulatory authorities. It is also responsible for facilitating and
            conducting board meetings, and general meetings of shareholders and the committees. The division acts as a
            single point of contact for directors and shareholders on corporate governance, secretarial and
            legal/compliance matters. It also represents the company before various authorities. It is also responsible
            for the efficient administration of a company and for ensuring that the decisions of the board of directors
            are implemented. Various business collaborations, joint ventures, and other associations
            (commercial/non-commercial) are facilitated and monitored by the department by firm documentation and
            execution of legal agreements.
        </p>

    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW">
            <img src="../../../assets/images/GRA_Thumbnail-CF4.png">
        </div>
    </div>

</div>

<!-- Programme Management  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW">
            <img src="../../../assets/images/GRA_Thumbnail-CF5.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Internal IT

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The Internal IT division of the ICT Academy of Kerala is responsible for the technical management of the
            company. It includes networking, procurement of IT equipment, local server management, UPS, access and
            identity management, etc. of all the locations of ICTAK. It is also involved in managing the utilities such
            as phone, data, user accounts, email, internal portals, website, etc.
        </p>


    </div>

</div>