<div class="flex flex-wrap items-center pb-32 container">


    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont" data-aos="fade-left"
    data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal ">
            Government Operations
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 text-left mb-4 text-blueGray-600">
            The Government Operations Unit (GOU) of ICT Academy of Kerala deals with government-initiated projects. With
            strong academic and industrial connections across the country, the team can serve on multiple fronts and has
            the flexibility to meet the changing needs in the public sector. The unit focuses on ICT capability building
            for different projects initiated by the government departments. The GOU, as a whole, works in a self-driven,
            dynamic, and goal-oriented manner focusing on socially relevant government projects.
        </p>
    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 " data-aos="fade-right"
    data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative  ">
            <img src="../../../../assets/images/GRA_Header-GOU.png">
        </div>
    </div>
</div>


<!-- <app-showbox></app-showbox> -->



<!-- starteg Planning  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-GO1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Strategic Planning
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The GOU is highly skilled in creating, implementing, and evaluating project strategies from scratch. The
            proficient team is equipped with the latest know-how and are capable of planning, forecasting, and executing
            projects in parallel. The team is also efficient in budgeting and allocating resources for several
            government projects that have a social impact on society. With minimum resources, we as a team thrive
            maximum output.
        </p>
    </div>

</div>

<!-- Methodical Execution  -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Methodical Execution
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The unit adheres to the industry standards of providing the best quality services by comprehending the
            ground-level realities. With the project-oriented processes, implementing the technology in the best ways
            possible, the team has developed finesse over the years in value-driven projects. The well-documented and
            periodic reporting helps the team to make it better with every project.
        </p>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-GO2.png">
        </div>
    </div>

</div>

<!-- Agile Management  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-GO3.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Agile Management
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            Adapting quickly to sudden or emerging changes without deviating from the primary goal has become a vital
            aspect in the present times, which the team has fine-tuned lately. Reallocating the resources and using new
            technologies, the team makes it possible to deliver. Even during the pandemic, this capability came into
            play in managing various socially relevant projects.
        </p>
    </div>

</div>

<!-- Technology Implementation  -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Technology Implementation
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            GOU has the potential to redefine conventional processes using emerging technology in public sectors. The
            team also has proficiency in customizing and implementing based on the proposed requirements. The team is in
            turn capable of defining the processes in a technically-viable format to get the goals.
        </p>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-GO4.png">
        </div>
    </div>

</div>



<!-- ICT Consultancy  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-GO5.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            ICT Consultancy
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The GOU can optimize the use of existing technology to develop and implement various project strategies. The
            team plays a very significant role in building the ICT capacity of the state by providing necessary
            solutions and techniques. The unit also prepares and delivers digital campaigning strategies to different
            projects offered by the public sector.
        </p>
    </div>

</div>

<!-- Creative Production  -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Media Production
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            We have a creative team responsible for creating and delivering several creatives, including multiple forms
            of graphics and video productions for different projects of the GOU and inhouse requirements. The team is
            also capable of preparing necessary textual content for the creatives as required. Apart from this, the team
            has the expertise to plan and conduct live events with customized streaming using broadcasting software and
            virtual meeting platforms.
        </p>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-GO6.png">
        </div>
    </div>

</div>

<!-- Miscellaneous  -->

<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-GO7.png">
        </div>
    </div>

    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Miscellaneous
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            Often clients may have other project-related requirements which may not essentially fall under the specific
            expertise of the unit. We are open to such added services and try to deliver them as a value addition to the
            project.
        </p>
    </div>
</div>




<!-- Project List -->

<div class="flex flex-wrap items-center pt-16 pb-32 container-2  ">
    <h4 class=" px-4 mb-2 font-semibold leading-normal ">
        Projects
    </h4>

    <div class="w-full  px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative  ">


            <ul class="l-news">

                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">06.04.2022</div>
                    <div class="l-news__content__label p-news__content__label">YIP, K-DISC </div>
                    <div class="l-news__content__text p-news__content__text">Roadshow 2021</div>

                </li>

                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">06.04.2022</div>
                    <div class="l-news__content__label p-news__content__label">KKEM, K-DISC</div>
                    <div class="l-news__content__text p-news__content__text">Job Fair, virtual..stakeholder meeting,
                        Strategy Paper Consultation</div>

                </li>

                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">06.04.2022</div>
                    <div class="l-news__content__label p-news__content__label">K-DISC</div>
                    <div class="l-news__content__text p-news__content__text">Kerala Innovation Talks (KIT) Season #2
                    </div>

                </li>

                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">06.04.2022</div>
                    <div class="l-news__content__label p-news__content__label">K-DISC</div>
                    <div class="l-news__content__text p-news__content__text">Manchadi - Teaching Math for Kerala</div>

                </li>

                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">06.04.2022</div>
                    <div class="l-news__content__label p-news__content__label">K-DISC</div>
                    <div class="l-news__content__text p-news__content__text">Mazhavillu - Teaching Science for Kerala
                    </div>

                </li>

                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">06.04.2022</div>
                    <div class="l-news__content__label p-news__content__label">KYLA</div>
                    <div class="l-news__content__text p-news__content__text">Learning Management Platform Implementation
                    </div>

                </li>
                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">06.04.2022</div>
                    <div class="l-news__content__label p-news__content__label">KYLA</div>
                    <div class="l-news__content__text p-news__content__text">Project </div>

                </li>



            </ul>

        </div>
    </div>
</div>