<div class="flex flex-wrap-reverse items-center pb-32 container">


    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto  companyfont" data-aos="fade-left"
        data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal responsiveFont ">
            Projects
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            ICT Academy of Kerala is involved with a lot of projects aiming to allow the youth to upskill their talents.
            These projects involve both government and other private initiatives.

        </p>

    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto  " data-aos="fade-right" data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative pt-5 ">
            <img src="../../../../assets/images/GRA_Header-Projects.png">
        </div>
    </div>
</div>



<!-- KKEM  -->

<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            KKEM
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The Kerala Knowledge Economy Mission (KKEM) is a digital platform-based strategic program launched by the
            Government of Kerala to transform the State into a knowledge economy. The impact of the global pandemic and
            the advances in technology are transforming people's lives across the world. The lifestyle, career, culture,
            and societal norms have changed and are likely to change further. One major shift, perhaps in the most
            unprecedented ways, is in job engagement and career aspects. It highlights the need to think beyond
            conventional modes of employment and employability enablement. Considering the scenario, the Government of
            Kerala has embarked on the Kerala Knowledge Economy Mission (KKEM), with a vision to develop Kerala into a
            Knowledge Society and thereby achieve economic growth and lifestyle improvements for its citizens.
        </p>
        <app-button-join [label]="know" (click)="outsideKKEM()"></app-button-join>

    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-PRO-KKEM.png">

        </div>
    </div>
</div>




<!-- Young Innovators Programme (YIP)  -->

<div class="flex flex-wrap items-center pb-32 container-2 ">
    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-PRO-YIP.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont ">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Young Innovators Programme (YIP)
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The Young Innovators Programme (YIP) is a flagship program of the Kerala Development & Innovation Strategic
            Council (K-DISC) to promote a culture of innovation among the youth of Kerala. YIP was launched on 24th
            March 2018 to empower future innovators to innovate new products, services or models to meet emerging
            requirements, unarticulated needs, or existing market needs of the society more effectively through
            specially designed challenges. The program is open to all students studying above class 9 across Kerala.
            This includes School, ITI & College students. The first edition of YIP started in 2018 and is reaching the
            closing stage. The next three editions, started in 2019, 2020 and 2021, are currently in progress.
        </p>
        <app-button-join [label]="know" (click)="outsideYIP()"></app-button-join>

    </div>

</div>

<!--Skill Delivery Platform Kerala (SDPK)  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">




    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Skill Delivery Platform Kerala (SDPK)
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The Skill Delivery Platform Kerala (SDPK) is a unique initiative by the Dept. of Electronics & Information
            Technology, Government of Kerala implemented through the special purpose vehicle, KSITIL and ICT Academy of
            Kerala (ICTAK) as the operating partner. The vision of Skills Delivery Platform (SDPK) is to collaborate
            with Industry experts/content providers and facilitate delivery of industry relevant employability skills
            programmes to students (and Faculty Development Programme for teachers) of Engineering, Polytechnic and
            other graduations across the state.
            <br><br>
            The SDPK is conceptualized using State-of-the-art Technology (Cisco Telepresence Solution) enabled learning
            platform that will enable remote delivery of high-quality skills programmes delivered by the industry. SDPK
            will connect 150 Hi-Tech classrooms in the Engineering Colleges/Polytechnic Institutes/Community Skills
            Parks in the state and the Industry Hubs such as Technopark, Infopark and Cyberpark. The highlight of SDPK
            is partnering with industry to deliver world-class skill development training programmes which will help
            students from all branches of engineering to interact with industry experts and get trained.

        </p>

        <app-button-join [label]="know" (click)="outsideSDPK()"></app-button-join>

    </div>

    
    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-PRO-SDPK.png">
        </div>
    </div>

</div>




<!--NORKA Skill Training  -->


<div class="flex flex-wrap items-center pb-32 container-2 ">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-PRO-NST.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            NORKA Skill Training
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            Aimed at addressing the issue of youth unemployment in Kerala, NORKA Roots is providing an opportunity to
            study job-oriented new-generation courses with a scholarship. Norka Roots is offering these courses in
            association with the ICT Academy of Kerala, an initiative of the Government of India in collaboration with
            state governments and industries. Subjects included are Robotic Process Automation, Data Science and
            Analytics, Full Stack Development, Cyber Security Analyst, Software Testing, and Digital Marketing. All
            these courses have a great demand in the industry.

        </p>
        <app-button-join [label]="know" (click)="outsideNST()"></app-button-join>

    </div>

</div>


<!--ABCD  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">




    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            ABCD
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            Accelerated Blockchain Development (ABCD) Programme is a technology training programme of high industrial
            relevance. By going through the programme, one will be able to achieve multiple certifications that will
            help to apply for different job roles in many information technology organisations worldwide.
        </p>
        <app-button-join [label]="know" (click)="outsideABCD()"></app-button-join>

    </div>
    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-PRO-ABCD.png">
        </div>
    </div>
</div>