<div class="flex flex-wrap items-center pb-32 container">


    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont" data-aos="fade-left"
    data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal ">
            Corporate Operations
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            ICT Academy of Kerala envisions an empowered job force from the multifaceted skilling programmes we deliver.
            Being an important beneficiary and partner, corporate stakeholders have a key role from sponsorship,
            mentoring and providing opportunities, like internship and employment to the candidates. The Corporate
            Operating Unit (COU) of ICTAK manages the relationship with the partners and corporate stakeholders.
        </p>
    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 " data-aos="fade-right"
    data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative ">
            <img src='../../../../assets/images/GRA_Header-COU.png'>
        </div>
    </div>
</div>


<!-- Partnership   -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-CO1.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Partnership

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The unit continuously indulges in establishing a healthy relationship with partners and stakeholders. This
            relationship has an immense impact on the opportunities to the end beneficiaries such as students, faculties
            and others. ICT Academy of Kerala has been a responsible intermediary through which the various CSR and
            other dedicated funds have attained better fruition through effective management and delivery. The team
            played a vital role in facilitating such responsibilities. The curated relationship dynamics with
            corporations has helped the identification, design and implementation of projects.
        </p>


    </div>

</div>

<!-- Delivery    -->

<div class="flex flex-wrap items-center pb-32 container-2">
    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Delivery
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            The team undertakes skill development projects, corporate training for corporates and partners. The team is
            also capacitated to provide the manpower supply in specific areas.
        </p>

    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-CO2.png">
        </div>
    </div>

</div>

<!-- Management   -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../assets/images/GRA_Thumbnail-CO3.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Management

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The unit facilitates the delivery of skill development programs through partners. The team owns, manages and
            executes various programmes in association with the Knowledge Office of ICT Academy of Kerala.
        </p>


    </div>

</div>