<div class="flex flex-wrap-reverse items-center pb-32 container">


    <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont" data-aos="fade-left"
        data-aos-duration="1500">
        <h3 class="text-3xl mb-2 font-semibold leading-normal responsiveFont ">
            Operating Units
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 text-left mb-4 text-blueGray-600">
            The ICT Academy of Kerala, as a team works under different Operations Units in order to effectively achieve
            the organisation's vision and mission. The OUs of ICTAK include the Academic Operations, Corporate
            Operations, Government Operations, IT Solutions, Knowledge Office, Retail Operations and Corporate
            Functions.


        </p>

    </div>

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 " data-aos="fade-right" data-aos-duration="1500">
        <div class="justify-center flex flex-wrap relative ">
            <img src="../../../../assets/images/GRA_Header-OUs.png">
        </div>
    </div>
</div>


<!-- <app-showbox></app-showbox> -->



<!-- AO  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative  imgW">
            <img src="../../../../assets/images/GRA_Thumbnail-AOU.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Academic Operations

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            Connecting the academic institutions across Kerala and neighboring states, the Academic Operations Unit
            (AOU) of ICT Academy of Kerala is committed to the quality improvement in education and in imparting novel
            technical skills for employability and entrepreneurship for students. The team, with their continual
            interactions, research, design, and execution of various skill development programmes for faculties and
            students, accelerates our mission - “Bridging the Skill Gap”.
        </p>

        <app-button-join data-aos="zoom-in" [label]="Know" routerLink="AO">
        </app-button-join>
    </div>

</div>

<!-- CO  -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Corporate Operations
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            ICT Academy of Kerala envisions an empowered job force from the multifaceted skilling programmes we deliver.
            Being an important beneficiary and partner, corporate stakeholders have a key role from sponsorship,
            mentoring and providing opportunities, like internship and employment to the candidates. The Corporate
            Operating Unit (COU) of ICTAK manages the relationship with the partners and corporate stakeholders.
        </p>
        <app-button-join data-aos="zoom-in" [label]="Know" routerLink="CO">
        </app-button-join>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-COU.png">
        </div>
    </div>

</div>

<!-- GO  -->


<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-GOU.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Government Operations

        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The Government Operations Unit (GOU) of ICT Academy of Kerala deals with government-initiated projects. With
            strong academic and industrial connections across the country, the team can serve on multiple fronts and has
            the flexibility to meet the changing needs in the public sector. The unit focuses on ICT capability building
            for different projects initiated by the government departments. The GOU, as a whole, works in a self-driven,
            dynamic, and goal-oriented manner focusing on socially relevant government projects.
        </p>

        <app-button-join data-aos="zoom-in" [label]="Know" routerLink="GO">
        </app-button-join>
    </div>

</div>

<!-- IT Solutions  -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            IT Solutions
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            What’s modern and inventive nowadays will be considered fundamental tomorrow. That’s why brands have to
            contribute to ICT enabled solutions to engage clients. The team of UI/UX experts, full-stack developers, RPA
            experts and data analysts at ICTAK Solutions are here to help you rejuvenate your brand’s digital presence.
        </p>
        <app-button-join data-aos="zoom-in" [label]="Know" routerLink="IT">
        </app-button-join>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-ITS.png">
        </div>
    </div>

</div>


<!-- KO  -->

<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-KO.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Knowledge Office
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The Educator's team, which delivers competency-based curriculum and industry relevant content for various
            skill-training programs of ICT Academy of Kerala (ICTAK).The team is in charge of curriculum design
            ,technical content creation and course delivery.Knowledge office work in collaboration with other operating
            units, as a delivery team in areas of skill development programmes and projects.The team have the support of
            Industry and Technology partners for creating industry relevant curriculum and contents.
        </p>

        <app-button-join data-aos="zoom-in" [label]="Know" routerLink="KO">
        </app-button-join>
    </div>

</div>

<!-- RO  -->

<div class="flex flex-wrap items-center pb-32 container-2">



    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Retail Operations
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
            Retail Business and operation unit is a front-end training wing of ICTAK to accompany the mission of
            skilling the youths of Kerala in IR4.0 technologies to make the state a desired talent pool for the
            industries. We empower the effort to build a job-ready workforce for the IT Industry by researching,
            organizing and executing skill development programs for the unemployed and underemployed graduates. Our
            focus is on skilling, upskilling and reskilling with affordable fees and supporting them to realize their
            career dreams.
        </p>
        <app-button-join data-aos="zoom-in" [label]="Know" routerLink="RO">
        </app-button-join>
    </div>


    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-ROU.png">
        </div>
    </div>

</div>

<!-- CF  -->

<div class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">

    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20 ">
        <div class="justify-center flex flex-wrap relative imgW ">
            <img src="../../../../assets/images/GRA_Thumbnail-CF.png">
        </div>
    </div>


    <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
        <h4 class=" mb-2 font-semibold leading-normal ">
            Corporate Functions
        </h4>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-left text-blueGray-600">
            The Corporate Functions of the ICT Academy of Kerala include Administration, Finance, Human resources,
            Legal, and Internal IT. The unit plays a significant role in facilitating seamless integration between other
            operations units of ICTAK for maximum productivity.
        </p>

        <app-button-join data-aos="zoom-in" [label]="Know" routerLink="CF">
        </app-button-join>
    </div>

</div>